In [2]:
import cv2
import numpy as np
import os
from pytesseract import pytesseract as pt
from PIL import Image
import sqlite3

In [12]:
path ="images"
  
# link to the file in which output needs to be kept
fullTempPath ="NewText.txt"
data = []
# iterating the images inside the folder
for imageName in os.listdir(path):
    inputPath = os.path.join(path, imageName)
    
    
    # pre-processing
    img = cv2.imread(inputPath)

    img = cv2.resize(img, None, fx=1.2, fy=1.2, interpolation=cv2.INTER_CUBIC)
    


    img = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)

    kernel = np.ones((1,1), np.uint8)
    img = cv2.dilate(img, kernel, iterations=1)
    img = cv2.erode(img, kernel, iterations=1)
    
    path_to_tesseract = r"C:\Program Files\Tesseract-OCR\tesseract.exe"
    pt.tesseract_cmd = path_to_tesseract


    # applying ocr using pytesseract for python
    text = pt.image_to_string(img,)
    textz = text.replace("\n", " ")
    textx = textz.split("-")
    taxt = tuple(textx)
    data.append(taxt)

    # saving the  text for appending it to the output.txt file
    # a + parameter used for creating the file if not present
    # and if present then append the text content
    file1 = open(fullTempPath, "a+")

    # providing the name of the image
    file1.write(imageName+"\n")

    # providing the content in the image
    for i in textx:
        file1 = open(fullTempPath, "a+")
        file1.write(i + "\n")
        file1.close()
    print(imageName)
    # print(taxt)

001.png
002.png
003.png
004.png
005.png

In [13]:
data[3]

('aqF! 0BLC!025!btBvSnEpt6j ',
 ' WHITTINGHAM D. MAULDIN ',
 ' MLAMONTAIN@STNY.RR.COM ',
 ' 1095229623 ',
 ' F ',
 ' NmUG6TRuck@@#%&?~: ',
 ' AHP!btBvSnEpt6 ',
 ' JAWYS30) %&#il ',
 '  PALOS COMMUNITY HOSPITAL ',
 ' Thousand Oaks ',
 ' 52710 ',
 ' D ',
 '  2604 SOUTH MAIN ',
 ' Cedar Rapids ',
 ' 46220 ',
 '  7900000 ',
 ' KG82542663 ',
 ' 72766 ',
 ' N ',
 ' YMI%W3vP4thgQr ')

In [14]:
data1 = [i for i in data if len(i) == 20]

In [15]:
db = sqlite3.connect("test.db")
# db.execute("drop table if exists clients")

In [16]:
db.execute("drop table if exists clients")
db.execute("create table clients(TBC_NO, NAME, EMAIL, MOBILE_NO, GENDER, LICENSE_NO,\
GIR_NO, PAN_NO, HOME_ADDRESS, HOME_CITY, HOME_PIN_NO, HOME_STATE, OFFICE_ADRESS, OFFICE_CITY,\
OFFICE_PIN_NO, LOAN_APPROVAL_LIMIT, MRN_NO, AF, NRI, CP)")

In [17]:
query = "insert into clients(TBC_NO, NAME, EMAIL, MOBILE_NO, GENDER, LICENSE_NO, GIR_NO,PAN_NO,\
HOME_ADDRESS, HOME_CITY, HOME_PIN_NO, HOME_STATE, OFFICE_ADRESS,OFFICE_CITY, OFFICE_PIN_NO,\
LOAN_APPROVAL_LIMIT, MRN_NO, AF, NRI, CP) values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)"
db. executemany(query, data1)

In [18]:
db.commit()

In [19]:
db.close()